<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col">
        <h4>IT TRAINING COURSES</h4>
        <ul>
          <li><a href="#">Data Analytics</a></li>
          <li><a href="#">Core Java Training</a></li>
          <li><a href="#">Advanced Java With Framework</a></li>
          <li><a href="#">Kotlin Training</a></li>
          <li><a href="#">Android App Development</a></li>
          <li><a href="#">Cloud Computing</a></li>
          <li><a href="#">Angular & MEAN Stack</a></li>
          <li><a href="#">Python Data Science</a></li>
          <li><a href="#">Django Web Development</a></li>
          <li><a href="#">Internet Of Things (IoT)</a></li>
          <li><a href="#">Machine Learning With Python</a></li>
          <li><a href="#">Advanced Machine Learning</a></li>
          <li><a href="#">Big Data Analytics</a></li>
          <li><a href="#">PHP Web Development</a></li>
          <li><a href="#">Advanced PHP Framework</a></li>
          <li><a href="#">.NET Framework</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>DIGITAL MARKETING TRAINING</h4>
        <ul>
          <li><a href="#">Digital Marketing Master Training Program</a></li>
          <li><a href="#">Online Advertising Using GOOGLE ADS</a></li>
          <li><a href="#">Search Engine Optimization (SEO)</a></li>
          <li><a href="#">Web Analytics Using GOOGLE Analytics</a></li>
          <li><a href="#">Social Media Marketing (SMM)</a></li>
          <li><a href="#">Content Marketing</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>EVENT MANAGEMENT</h4>

        <ul>
          <li><a href="#">Inaugural Functions</a></li>
          <li><a href="#">Seminar</a></li>
          <li><a href="#">Product Launch</a></li>
          <li><a href="#">College Festival</a></li>
          <li><a href="#">Felicitation Ceremony</a></li>
          <li><a href="#">Wedding</a></li>
          <li><a href="#">Live In Concerts</a></li>
          <li><a href="#">Birthday Parties</a></li>
          <li><a href="#">Inter College Events</a></li>
          <li><a href="#">Live Webinars</a></li>
        </ul>
      </div>
      <div class="footer-col">
        <h4>Contact</h4>
        <div class="social-links">
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
        </div>
        <h6>Lower Ground Floor, Rajaram Kumar Plaza,
            Hazratganj, Lucknow -226001</h6>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
          <p class="copyright">Copyright &copy; 2021 Digipodium, Inc.
          </p>
      </div>
  </div>
  </div>
</footer>
