
<nb-card>
  <div class="container">
  <h1>PYTHON TRAINING PROGRAMS<h4>Digipodium offers two Python training programs : Python Data Science and Django.</h4></h1>

  <div class="row">
    <nb-card class="col-md-7">
      <nb-card-header>Python Data Science<h6>Mapped with Microsoft certification</h6>
      </nb-card-header>
      <nb-card-body>
       <p><b>Python </b>To become proficient in data science, python is the most popular programming language of the current times.
         Python has achieved this status because of its huge number of libraries and ease of use. <br>
        <b>Digipodium Python Program</b> provides for you the best of python training so that you win the race to blaze the trails of success. <br><br>
        <b>Project Categories -</b> Artificial Intelligence(AI) based Prediction software, Machine Learning(ML)
        recommendation system, Natural Language Processing(NLP) system, Sentiment Analysis, Object Detection software,
         Autonomous web crawlers, Data visualization system.
      </p>
      </nb-card-body>
    </nb-card>
    <nb-card class="col-md-5">
      <nb-card-body >
        <div class="card" id="data" style="height: 100%;"></div>

      </nb-card-body>
    </nb-card>
  </div>
  <hr>
  <div class="row">
    <nb-card class="col-md-7">
      <nb-card-header>Python Django</nb-card-header>
      <nb-card-body><p>
        <b>Django</b> is the most popular web framework of python.
        Django makes it easier to build better Web apps more quickly and with minimal coding.
        Django also handles website security deftly by helping developers to avoid many security mistakes
        like SQL injection, cross-site request forgery, clickjacking and cross-site scripting. If you want to know
        how to make the best websites using the django framework you can get onboard with digipodium and learn Django.
        <b>Project Categories -</b> Data analytics based website, Computer vision based app, Multi
        authentication website, Email webserver, AI based website, Image Annotation webapp, Trading bot Api.
      </p>
      </nb-card-body>
      </nb-card>
    <nb-card class="col-md-5">
      <nb-card-body>
        <div class="card" id="django" style="height: 100%;"></div>
      </nb-card-body>
    </nb-card>
  </div>
  <hr>
  <div class="row">
    <nb-card class="col-md-6">
      <nb-card-header><h4 class="nt"><i class="fas fa-industry"></i> COMPANIES HIRING</h4></nb-card-header>

      <nb-card-body>Tata Consultancy Services Limited</nb-card-body>
      <nb-card-body>InfoSys Limited</nb-card-body>
      <nb-card-body>HCL Technologies Ltd</nb-card-body>
      <nb-card-body>Amazon.com Inc</nb-card-body>
      <nb-card-body>Cisco Systems Inc</nb-card-body>
      <nb-card-body>Accenture Technology Solutions</nb-card-body>
      <nb-card-body>Oracle</nb-card-body>
    </nb-card>

    <nb-card class="col-md-6">
      <nb-card-header><h4 class="nt"><i class="fas fa-user-graduate"></i> CAREER PROSPECTS</h4></nb-card-header>
      <nb-card-body>Data Analyst</nb-card-body>
      <nb-card-body>Data Scientist</nb-card-body>
      <nb-card-body>Devops</nb-card-body>
      <nb-card-body>Business Analyst</nb-card-body>
      <nb-card-body>Web Developer</nb-card-body>
      <nb-card-body>Software developer</nb-card-body>
      <nb-card-body>Embedded system software developer</nb-card-body>
    </nb-card>

  </div>
</div>
</nb-card>
