
div-body {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition-duration: 300ms;
  }

div-body:hover {
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),
    0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  transform: translateY(-10px);
}

.card-body {
  height: 12rem;
  padding: 1.5rem;
}


div-header{
  display: inline-block;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 2mm;
  font-size: 26px;
  line-height: 28px;
  font-weight: 400;
  margin-top: 16px;
  color: rgb(8, 165, 60);
}

.nt{
  font-size: 20px;
  color: red;
}

.text-muted{
  position: absolute;
}

.mat-slider{
  width: 202px;
}

#data{
    background-image: url('../images/data.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#django{
  background-image: url('../images/django.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
