<div class="col-md-10 mx-auto">
  <mat-card class="mt-5">
    <mat-card-content>
      <div class="row">
        <div class="col-md-4 mt-5">
          <div class="card">
            <div class="card-body">
              <div></div>
              <h4 class="nt">
                JAVA TRAINING PROGRAM
              </h4>
              <p class="text-muted">Let's see what happens</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card">
            <div class="card-body">
              <div></div>
              <h4 class="nt">
                my card
              </h4>
              <p class="text-muted">Let's see what happens</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card">
            <div class="card-body">
              <div></div>
              <h4 class="nt">
                my card
              </h4>
              <p class="text-muted">Let's see what happens</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card">
            <div class="card-body">
              <div></div>
              <h4 class="nt">
                my card
              </h4>
              <p class="text-muted">Let's see what happens</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card">
            <div class="card-body">
              <div></div>
              <h4 class="nt">
                my card
              </h4>
              <p class="text-muted">Let's see what happens</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card">
            <div class="card-body">
              <div></div>
              <h4 class="nt">
                my card
              </h4>
              <p class="text-muted">Let's see what happens</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card">
            <div class="card-body">
              <div></div>
              <h4 class="nt">
                my card
              </h4>
              <p class="text-muted">Let's see what happens</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card">
            <div class="card-body">
              <div></div>
              <h4 class="nt">
                my card
              </h4>
              <p class="text-muted">Let's see what happens</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card">
            <div class="card-body">
              <div></div>
              <h4 class="nt">
                my card
              </h4>
              <p class="text-muted">Let's see what happens</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card">
            <div class="card-body">
              <div></div>
              <h4 class="nt">
                my card
              </h4>
              <p class="text-muted">Let's see what happens</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card">
            <div class="card-body">
              <div></div>
              <h4 class="nt">
                my card
              </h4>
              <p class="text-muted">Let's see what happens</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card">
            <div class="card-body">
              <div></div>
              <h4 class="nt">
                my card
              </h4>
              <p class="text-muted">Let's see what happens</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card">
            <div class="card-body">
              <div></div>
              <h4 class="nt">
                my card
              </h4>
              <p class="text-muted">Let's see what happens</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card">
            <div class="card-body">
              <div></div>
              <h4 class="nt">
                my card
              </h4>
              <p class="text-muted">Let's see what happens</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card">
            <div class="card-body">
              <div></div>
              <h4 class="nt">
                my card
              </h4>
              <p class="text-muted">Let's see what happens</p>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card">
            <div class="card-body">
              <div></div>
              <h4 class="nt">
                my card
              </h4>
              <p class="text-muted">Let's see what happens</p>
            </div>
          </div>
        </div>

      </div>
    </mat-card-content>
  </mat-card>
</div>
