
<nb-card>
  <div class="container">
  <div class="row">
    <nb-card class="col-md-7">
      <nb-card-header>REACT & Mern Stack TRAINING
      </nb-card-header>
      <nb-card-body>
        <b>MERN full stack Web Development with React is the ultimate Web Development
          Course to help you advance with the latest web development trends, alongside developing
          the essential skills of Web Designing which are simple and easy to learn.
        </b>
       <p>Digipodium has customized an exciting course to train you in designing basic web pages,
         creating user-friendly website pages ,styling and animations, creating APIs and connecting
         databases to make you an expert full stack web developer. Big Players such as Netflix, Apple,
         Airbnb, Instagram, Pinterest and many others are regular users of React JS, making this library
         the technology of the future. After this course you’ll develop a strong understanding of React’s most
         essential concepts: JSX, components, props, state, lifecycle methods, and hooks etc. You’ll be able to develop
         a complete Website using React (for frontend), MongoDB(for database), Express(for backend) and Node JS(for environment).
         <br><br>
         <b>Project Categories</b> 3D Rendering, Realtime Data based Webapps,
         Utility Webapps, Chatting Apps, Streaming Websites, Editing Websites, Social Sites, E-commerce websites and many more.
      </p>
      </nb-card-body>
    </nb-card>
    <nb-card class="col-md-5">
      <nb-card-body >
        <div class="card" id="mern" style="height: 100%;"></div>

      </nb-card-body>
    </nb-card>
  </div>
  <hr>
  <div class="row">
    <nb-card class="col-md-6">
      <nb-card-header><h4 class="nt"><i class="fas fa-industry"></i> COMPANIES HIRING</h4></nb-card-header>
      <nb-card-body>HCL</nb-card-body>
      <nb-card-body>Newgen</nb-card-body>
      <nb-card-body>Capgemini</nb-card-body>
      <nb-card-body>Akamai</nb-card-body>
      <nb-card-body>Collabera</nb-card-body>
    </nb-card>

    <nb-card class="col-md-6">
      <nb-card-header><h4 class="nt"><i class="fas fa-user-graduate"></i> CAREER PROSPECTS</h4></nb-card-header>
      <nb-card-body>Ui/UX Designer</nb-card-body>
      <nb-card-body>Frontend Engineer</nb-card-body>
      <nb-card-body>REACT Developer</nb-card-body>
      <nb-card-body>RESTful API Developer</nb-card-body>
      <nb-card-body>JavaScript Programmer</nb-card-body>
      <nb-card-body>Full Stack Developer</nb-card-body>
    </nb-card>
  </div>
</div>
</nb-card>
