<nb-card>
  <div class="container">
    <h1>ANDROID TRAINING PROGRAMS<h4>Digipodium offers two Android training programs : Android and Kotlin.</h4>
    </h1>

    <div class="row">
      <nb-card class="col-md-7">
        <nb-card-header>Android App development with Java<h6>Mapped with Google certification</h6>
        </nb-card-header>
        <nb-card-body>
          <p><b>App development</b> is one of the most sought after things in the IT industry.
            Hence there is a constant demand for a developer that can build better apps.
            Here at digipodium, we try to provide you with the best learning content for
            both designing and programming the App that you always wanted to make. You will
            also be provided tricks and shortcuts for a fast development of your apps. <br><br>
            <b>Project Categories - </b> Artificial intelligence based Apps, Location and GPS tracking based Apps,
            Biometric security based Apps, Camera and multimedia Apps, Realtime Cloud based Apps, API
            based Apps, IoT based Apps, etc.
          </p>
        </nb-card-body>
      </nb-card>
      <nb-card class="col-md-5">
        <nb-card-body>
          <div class="card" style="height: 100%;"><img src="../images/android.jpg" alt="android"></div>

        </nb-card-body>
      </nb-card>
    </div>
    <hr>
    <div class="row">
      <nb-card class="col-md-7">
        <nb-card-header>Kotlin for App Development</nb-card-header>
        <nb-card-body>
          <p><b>Hello World, </b> We are very happy to tell you that Digipodium is introducing Kotlin as a new Language
            course,
            as we have always wanted to provide you with the latest and greatest courses. Kotlin is the new language
            which
            is making a mark in the world of app development, android as well as hybrid. Kotlin is also the official
            android
            development language as declared by google. <br><br>
            <b>Project Categories - </b>Artificial intelligence based Apps, Location and GPS tracking based Apps,
            Biometric
            security based Apps, Camera and multimedia Apps, Realtime Cloud based Apps, API based Apps, IoT based Apps,
            Jetpack and bot based programs, etc.
          </p>
        </nb-card-body>
      </nb-card>
      <nb-card class="col-md-5">
        <nb-card-body>
          <div class="card" style="height: 100%;"><img src="../images/kotnil.jpg" alt="kotnil"></div>
        </nb-card-body>
      </nb-card>
    </div>
    <hr>
    <div class="row">
      <nb-card class="col-md-6">
        <nb-card-header>
          <h4 class="nt"><i class="fas fa-industry"></i> COMPANIES HIRING</h4>
        </nb-card-header>
        <nb-card-body>Tech Mahindra</nb-card-body>
        <nb-card-body>Accenture</nb-card-body>
        <nb-card-body>Capgemini</nb-card-body>
        <nb-card-body>EA Games</nb-card-body>
        <nb-card-body>Congnizant</nb-card-body>
        <nb-card-body>Microsoft</nb-card-body>
      </nb-card>

      <nb-card class="col-md-6">
        <nb-card-header>
          <h4 class="nt"><i class="fas fa-user-graduate"></i> CAREER PROSPECTS</h4>
        </nb-card-header>
        <nb-card-body>Android App developer</nb-card-body>
        <nb-card-body>Android Software Engineer</nb-card-body>
        <nb-card-body>Mobile Application Testing</nb-card-body>
        <nb-card-body>Android game developer</nb-card-body>
        <nb-card-body>Ui/Ux Designer</nb-card-body>
        <nb-card-body>Android Lead Developer</nb-card-body>
      </nb-card>

    </div>
  </div>
</nb-card>
