<div class="card">
  <div class="container">
    <h1>ANDROID TRAINING PROGRAMS<h4>Digipodium offers two Android training programs : Android and Kotlin.</h4>
    </h1>

    <div class="row">
      <div class="col-md-7">
        <div class="card-header">Android App development with Java<h6>Mapped with Google certification</h6>
        </div>
        <div class="card-body">
          <p><b>App development</b> is one of the most sought after things in the IT industry.
            Hence there is a constant demand for a developer that can build better apps.
            Here at digipodium, we try to provide you with the best learning content for
            both designing and programming the App that you always wanted to make. You will
            also be provided tricks and shortcuts for a fast development of your apps. <br><br>
            <b>Project Categories - </b> Artificial intelligence based Apps, Location and GPS tracking based Apps,
            Biometric security based Apps, Camera and multimedia Apps, Realtime Cloud based Apps, API
            based Apps, IoT based Apps, etc.
          </p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card-body" id="android1" style="height: 55vh; width: 70%;">

        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-7">
        <div class="card-header">Kotlin for App Development</div>
        <div class="card-body">
          <p><b>Hello World, </b> We are very happy to tell you that Digipodium is introducing Kotlin as a new Language
            course,
            as we have always wanted to provide you with the latest and greatest courses. Kotlin is the new language
            which
            is making a mark in the world of app development, android as well as hybrid. Kotlin is also the official
            android
            development language as declared by google. <br><br>
            <b>Project Categories - </b>Artificial intelligence based Apps, Location and GPS tracking based Apps,
            Biometric
            security based Apps, Camera and multimedia Apps, Realtime Cloud based Apps, API based Apps, IoT based Apps,
            Jetpack and bot based programs, etc.
          </p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card-body" id="kotnil" style="height: 55vh; width: 70%;">
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="card-header">
          <h4 class="nt"><i class="fas fa-industry"></i> COMPANIES HIRING</h4>
        </div>
        <div class="card-body"><b>Tech Mahindra</b> </div>
        <div class="card-body"><b>Accenture</b> </div>
        <div class="card-body"><b>Capgemini</b> </div>
        <div class="card-body"><b>EA Games</b> </div>
        <div class="card-body"><b>Congnizant</b> </div>
        <div class="card-body"><b>Microsoft</b> </div>
      </div>

      <div class="col-md-6">
        <div class="card-header">
          <h4 class="nt"><i class="fas fa-user-graduate"></i> CAREER PROSPECTS</h4>
        </div>
        <div class="card-body"><b>Android App developer</b> </div>
        <div class="card-body"><b>Android Software Engineer</b> </div>
        <div class="card-body"><b>Mobile Application Testing</b> </div>
        <div class="card-body"><b>Android game developer</b> </div>
        <div class="card-body"><b>Ui/Ux Designer</b> </div>
        <div class="card-body"><b>Android Lead Developer</b> </div>
      </div>

    </div>
  </div>
</div>
