
<div class="card">
  <div class="container">
    <h1>ANGULAR & MEAN STACK TRAINING</h1>
  <div class="row">
    <div class="col-md-7">
      <div class="card-header">ANGULAR & MEAN STACK TRAINING
      </div>
      <div class="card-body">
       <p><b>Digipodium brings Angular 12 & MEAN Stack development with all latest features and innovative projects.</b>
         Angular is the trending frontend framework based on javascript used to develop modern web apps which are
         lightweight and mobile friendly. Big Players like Google, Paypal, Hotstar, Sony are already using Angular in their websites.
         Angular specializes in developing Video Streaming websites, Utility websites, etc. Angular released in 2016 is
         the newer version of the framework AngularJS. Angular is being actively supported by Google. <br><br>
        <b>Project Categories - </b> Streaming Web Apps, Designing Web Apps, Utility Webapps, Chatting Apps, etc.
      </p>
      </div>
    </div>
    <div class="col-md-5">

        <div class="card-body" id="mean" style="height: 55vh; width: 70%;"></div>


    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="card-header"><h4 class="nt"><i class="fas fa-industry"></i> COMPANIES HIRING</h4></div>
      <div class="card-body"><b>HCL</b> </div>
      <div class="card-body"><b>Newgen</b> </div>
      <div class="card-body"><b>Capgemini</b> </div>
      <div class="card-body"><b>Akamai</b> </div>
      <div class="card-body"><b>Collabera</b> </div>
    </div>

    <div class="col-md-6">
      <div class="card-header"><h4 class="nt"><i class="fas fa-user-graduate"></i> CAREER PROSPECTS</h4></div>
      <div class="card-body"><b>Ui/UX Designer</b> </div>
      <div class="card-body"><b>Frontend Engineer</b> </div>
      <div class="card-body"><b>Angular Developer</b> </div>
      <div class="card-body"><b>RESTful API Developer</b> </div>
      <div class="card-body"><b>JavaScript Programmer</b> </div>
      <div class="card-body"><b>Full Stack Developer</b> </div>
    </div>
  </div>
</div>
</div>
