
<nb-card>
  <div class="container">

  <div class="row">
    <nb-card class="col-md-7">
      <nb-card-header>ANGULAR & MEAN STACK TRAINING
      </nb-card-header>
      <nb-card-body>
       <p><b>Digipodium brings Angular 12 & MEAN Stack development with all latest features and innovative projects.</b>
         Angular is the trending frontend framework based on javascript used to develop modern web apps which are
         lightweight and mobile friendly. Big Players like Google, Paypal, Hotstar, Sony are already using Angular in their websites.
         Angular specializes in developing Video Streaming websites, Utility websites, etc. Angular released in 2016 is
         the newer version of the framework AngularJS. Angular is being actively supported by Google. <br><br>
        <b>Project Categories - </b> Streaming Web Apps, Designing Web Apps, Utility Webapps, Chatting Apps, etc.
      </p>
      </nb-card-body>
    </nb-card>
    <nb-card class="col-md-5">
      <nb-card-body >
        <div class="card" style="height: 100%;"><img src="../images/android.jpg" alt="android"></div>

      </nb-card-body>
    </nb-card>
  </div>
  <hr>
  <div class="row">
    <nb-card class="col-md-6">
      <nb-card-header><h4 class="nt">COMPANIES HIRING</h4></nb-card-header>
      <nb-card-body>HCL</nb-card-body>
      <nb-card-body>Newgen</nb-card-body>
      <nb-card-body>Capgemini</nb-card-body>
      <nb-card-body>Akamai</nb-card-body>
      <nb-card-body>Collabera</nb-card-body>
    </nb-card>

    <nb-card class="col-md-6">
      <nb-card-header><h4 class="nt">CAREER PROSPECTS</h4></nb-card-header>
      <nb-card-body>Ui/UX Designer</nb-card-body>
      <nb-card-body>Frontend Engineer</nb-card-body>
      <nb-card-body>Angular Developer</nb-card-body>
      <nb-card-body>RESTful API Developer</nb-card-body>
      <nb-card-body>JavaScript Programmer</nb-card-body>
      <nb-card-body>Full Stack Developer</nb-card-body>
    </nb-card>
  </div>
</div>
</nb-card>
