
<div class="card">
  <div class="container">

  <div class="row">
    <div class="col-md-7">
      <div class="card-header">IoT TRAINING
      </div>
      <div class="card-body">
       <p><b>IoT</b> is the concept of making smart devices that can communicate with each
        other and help in making a smart environment around us. IoT field has seen a lot of
        growth in recent years. Going beyond just the full form & theory, we have developed a
        course for you, where you can learn IoT by doing practical work with IoT devices and different
        types of sensors that allows you to gain the insights and expertise required, to perform well in the field.
        <br><br>
        <b>Project Categories - </b>Home Automation, Sensor based data collection app, Security based app,
        IoT servers, Biometric System, Arduino + Android IoT App, Raspberry Pi based Softwares.
      </p>
      </div>
    </div>
    <div class="col-md-5">
      <div >
        <div class="card" id="iot" style="height: 100%;"></div>

      </div>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="card-header"><h4 class="nt"><i class="fas fa-industry"></i> COMPANIES HIRING</h4></div>
      <div class="card-body">NetObjex</div>
      <div class="card-body">Accenture</div>
      <div class="card-body">GlobalLogic</div>
      <div class="card-body">Khatib and Alami</div>
      <div class="card-body">Snaphunt</div>
      <div class="card-body">Cyient</div>
    </div>

    <div class="col-md-6">
      <div class="card-header"><h4 class="nt"><i class="fas fa-user-graduate"></i> CAREER PROSPECTS</h4></div>
      <div class="card-body">Embedded Systems Engineer</div>
      <div class="card-body">IoT Product Developer</div>
      <div class="card-body">IoT Engineer</div>
      <div class="card-body">IoT Developer</div>
      <div class="card-body">IoT System Architect</div>
      <div class="card-body">IoT Cloud Developer</div>
    </div>

  </div>
</div>
</div>
