<div class="card">
  <div class="row">
    <div class="col-md-4 mt-5">
      <div class="card" [routerLink]="['/android']" routerLinkActive="router-link-active">
        <div class="card-body">
          <button type="button" class="btn btn-warning px-3" [routerLink]="['/android']"
            routerLinkActive="router-link-active"><i class="fab fa-android" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <div class="card" [routerLink]="['/java']" routerLinkActive="router-link-active">
        <div class="card-body">
          <button type="button" class="btn btn-warning px-3" [routerLink]="['/java']"
            routerLinkActive="router-link-active"><i class="fab fa-java" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <div class="card" [routerLink]="['/python']" routerLinkActive="router-link-active">
        <div class="card-body">
          <button type="button" class="btn btn-warning px-3" [routerLink]="['/python']"
            routerLinkActive="router-link-active"><i class="fab fa-python" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <div class="card" [routerLink]="['/angular']" routerLinkActive="router-link-active">
        <div class="card-body">
          <button type="button" class="btn btn-warning px-3" [routerLink]="['/angular']"
            routerLinkActive="router-link-active"><i class="fab fa-angular" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <div class="card" [routerLink]="['/react']" routerLinkActive="router-link-active">
        <div class="card-body">
          <button type="button" class="btn btn-warning px-3" [routerLink]="['/react']"
            routerLinkActive="router-link-active"><i class="fab fa-react" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    <div class="col-md-4 mt-5">
      <div class="card" [routerLink]="['/iot']" routerLinkActive="router-link-active">
        <div class="card-body">
          <button type="button" class="btn btn-warning px-3" [routerLink]="['/iot']"
            routerLinkActive="router-link-active"><i class="fas fa-network-wired" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
  </div>
</div>
