<div class="card">
  <div class="container">
    <h1>JAVA TRAINING PROGRAM<h4>Digipodium offers two Java training programs : Core Java and Advanced Java with
        Frameworks.</h4>
    </h1>

    <div class="row">
      <div class="col-md-7">
        <div class="card-header">Core Java<h6>Mapped with Oracle OCA-1Z0-815 certification</h6>
        </div>
        <div class="card-body">
          <p> <b>Digipodium</b> is the best Core Java training institutes in Lucknow.
            The course is designed for the students to get their dream jobs in top MNCs.
            Core java is language of choice for the students who want better understanding of OOPs concepts,
            interfaces, String handling, multithreading, file handling, Lambda expressions, Swing GUI, MySQL,
            Collections framework using generics, etc. Digipodium focus on practical implementations of all the
            concepts. <br><br>
            <b>Project categories - </b>Networking based Applications, System Utilities Software, Building Games,
            Optical Character Reader, Management Systems, Mailing Systems, Banking Applications, Converts & File Sharing
            System,
            Real-Time Monitoring Systems, etc.
          </p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <div class="card" id="core" style="height: 100%;"></div>

        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-7">
        <div class="card-header">Advanced Java with Frameworks <h6>Mapped with Oracle OCA-1Z0-900 certification</h6>
        </div>
        <div class="card-body">
          <p><b>Digipodium Advanced Java Training Program</b> is curated by professionals as per the industrial
            requirements

            and demands. Advanced Java is used for developing the web based application and enterprise application. It
            is a
            complete solution for dynamic processes which has many frameworks, design patterns, servers. Today Spring
            and Hibernate
            has higher demand in industries because of its rich features, API’s, and security. <br><br>
            <b>Project Categories -</b> Online Community Websites (like Stack Overflow), Banking Application, Stock
            Market
            Analysis, E-Commerce (like ebay), Animation & Gaming, Web Scraping, Defence based Web Applications, etc.
          </p>
        </div>
      </div>
      <div class="col-md-5">
        <div class="card-body">
          <div class="card" id="advance" style="height: 100%;"></div>
        </div>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-6">
        <div class="card-header">
          <h4 class="nt"><i class="fas fa-industry"></i> COMPANIES HIRING</h4>
        </div>
        <div class="card-body">Capgemini</div>
        <div class="card-body">Tata Consultancy Services</div>
        <div class="card-body">IBM</div>
        <div class="card-body">Accenture</div>
        <div class="card-body">Infosys</div>
        <div class="card-body">J P Morgan Chase & Co.</div>
        <div class="card-body">Oracle</div>
      </div>

      <div class="col-md-6">
        <div class="card-header">
          <h4 class="nt"><i class="fas fa-user-graduate"></i> CAREER PROSPECTS</h4>
        </div>
        <div class="card-body">Software Developer</div>
        <div class="card-body">Application Developer</div>
        <div class="card-body">Programmer Analyst</div>
        <div class="card-body">Web Developer</div>
        <div class="card-body">System Developer</div>
        <div class="card-body">A professional teacher in Java</div>
      </div>

    </div>
  </div>
</div>
