<nb-card>
  <div class="container">
    <h1>JAVA TRAINING PROGRAM<h4>Digipodium offers two Java training programs : Core Java and Advanced Java with
        Frameworks.</h4>
    </h1>

    <div class="row">
      <nb-card class="col-md-7">
        <nb-card-header>Core Java<h6>Mapped with Oracle OCA-1Z0-815 certification</h6>
        </nb-card-header>
        <nb-card-body>
          <p> <b>Digipodium</b> is the best Core Java training institutes in Lucknow.
            The course is designed for the students to get their dream jobs in top MNCs.
            Core java is language of choice for the students who want better understanding of OOPs concepts,
            interfaces, String handling, multithreading, file handling, Lambda expressions, Swing GUI, MySQL,
            Collections framework using generics, etc. Digipodium focus on practical implementations of all the
            concepts. <br><br>
            <b>Project categories - </b>Networking based Applications, System Utilities Software, Building Games,
            Optical Character Reader, Management Systems, Mailing Systems, Banking Applications, Converts & File Sharing
            System,
            Real-Time Monitoring Systems, etc.
          </p>
        </nb-card-body>
      </nb-card>
      <nb-card class="col-md-5">
        <nb-card-body>
          <div class="card" id="core" style="height: 100%;"></div>

        </nb-card-body>
      </nb-card>
    </div>
    <hr>
    <div class="row">
      <nb-card class="col-md-7">
        <nb-card-header>Advanced Java with Frameworks <h6>Mapped with Oracle OCA-1Z0-900 certification</h6>
        </nb-card-header>
        <nb-card-body>
          <p><b>Digipodium Advanced Java Training Program</b> is curated by professionals as per the industrial
            requirements

            and demands. Advanced Java is used for developing the web based application and enterprise application. It
            is a
            complete solution for dynamic processes which has many frameworks, design patterns, servers. Today Spring
            and Hibernate
            has higher demand in industries because of its rich features, API’s, and security. <br><br>
            <b>Project Categories -</b> Online Community Websites (like Stack Overflow), Banking Application, Stock
            Market
            Analysis, E-Commerce (like ebay), Animation & Gaming, Web Scraping, Defence based Web Applications, etc.
          </p>
        </nb-card-body>
      </nb-card>
      <nb-card class="col-md-5">
        <nb-card-body>
          <div class="card" id="advance" style="height: 100%;"></div>
        </nb-card-body>
      </nb-card>
    </div>
    <hr>
    <div class="row">
      <nb-card class="col-md-6">
        <nb-card-header>
          <h4 class="nt"><i class="fas fa-industry"></i> COMPANIES HIRING</h4>
        </nb-card-header>
        <nb-card-body>Capgemini</nb-card-body>
        <nb-card-body>Tata Consultancy Services</nb-card-body>
        <nb-card-body>IBM</nb-card-body>
        <nb-card-body>Accenture</nb-card-body>
        <nb-card-body>Infosys</nb-card-body>
        <nb-card-body>J P Morgan Chase & Co.</nb-card-body>
        <nb-card-body>Oracle</nb-card-body>
      </nb-card>

      <nb-card class="col-md-6">
        <nb-card-header>
          <h4 class="nt"><i class="fas fa-user-graduate"></i> CAREER PROSPECTS</h4>
        </nb-card-header>
        <nb-card-body>Software Developer</nb-card-body>
        <nb-card-body>Application Developer</nb-card-body>
        <nb-card-body>Programmer Analyst</nb-card-body>
        <nb-card-body>Web Developer</nb-card-body>
        <nb-card-body>System Developer</nb-card-body>
        <nb-card-body>A professional teacher in Java</nb-card-body>
      </nb-card>

    </div>
  </div>
</nb-card>
