body {
  margin: 0;
  padding: 0;
  font-family: monospace;
  background-color: #f2e863;
}

.card {
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  transition-duration: 300ms;

}

.card:hover {
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.2),
    0px 9px 12px 1px rgba(0, 0, 0, 0.14), 0px 3px 16px 2px rgba(0, 0, 0, 0.12);
  transform: translateY(-10px);
}

.card-body {
  height: 12rem;
  margin: 14px;
}

.course {
  margin: 14px;
}

.card-header{
  text-align: center;
  padding: 10px 10px;
  background-color: #f25757;
  color: #fff;
}

.service{
  padding: 30px 20px;
  text-align: justify;
  font-size: 14px;
  display: block;
  height: min-content;
  background-color: #eaf2e3;
}

.service .btn{
  display: block;
  text-align: center;
  background: linear-gradient(to right, #ff416c #ff4b2b);
  margin: 30px;
  padding: 10px 5px;
}

.our{
  padding-left: 90px;
}
.tr{
  background-color: #eaf2e3;
}

#final {
  height: 4rem;
  background-color: #61e8e1;
  text-align: center;
  margin-top: 1%;
  margin-left: 1.5%;
  padding-top: 0.5%;
}

#android {
  background-image: url("../images/svg/android.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#java {
  background-image: url("../images/svg/java.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#python {
  background-image: url("../images/svg/python.svg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#angular {
  background-image: url("../images/svg/angular.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#react {
  background-image: url("../images/svg/react_2.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

#iot {
  background-image: url("../images/iot.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.view{
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2%;
}
.photos {
  position: absolute;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100vh;
  animation: animate 40s ease-in-out infinite;
}

@keyframes animate {
  0%,
  100% {
    background-image: url("../images/digi.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  20% {
    background-image: url("../images/data_analysis.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  30% {
    background-image: url("../images/dsl.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  40% {
    background-image: url("../images/git_kit.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  50% {
    background-image: url("../images/ibm_certifide.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  65% {
    background-image: url("../images/job_assist.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  85% {
    background-image: url("../images/javaScript.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}
