<div class="card">
  <div class="container" style="
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 60vh;;
  animation: animate 40s ease-in-out infinite;
  background-size:cover;

@keyframes animate{
  0%, 100% {
    background-image: url('../images/digi.jpg');
  }
  20% {
    background-image: url('../images/kotnil.jpg');
  }
  30% {
    background-image: url('../images/android_2.jpg');
  }
  40% {
    background-image: url('../images/angular.jpg');
  }
  50% {
    background-image: url('../images/java.jpg');
  }
  65% {
    background-image: url('../images/python.jpg');
  }
  85% {
    background-image: url('../images/react.jpg');
  }
}">
  <div class="outer">
    <div class="details">
      <h2>Welcome to <span style="color: black;">DIGI</span> <span style="color: #a00d08;">PODIUM</span></h2>
    </div>
  </div>
</div>
</div>



  <div class="card" >
      <div class="row">
        <div class="col-md-4 mt-5">
          <div class="card" [routerLink]="['/android']" routerLinkActive="router-link-active" >
            <div class="card-body">
              <button type="button" class="btn btn-warning px-3" [routerLink]="['/android']" routerLinkActive="router-link-active"><i class="fab fa-android"
                  aria-hidden="true"  ></i></button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card" [routerLink]="['/android']" routerLinkActive="router-link-active" >
            <div class="card-body">
              <button type="button" class="btn btn-warning px-3" [routerLink]="['/java']" routerLinkActive="router-link-active"><i class="fab fa-java"
                  aria-hidden="true"  ></i></button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card" [routerLink]="['/android']" routerLinkActive="router-link-active" >
            <div class="card-body">
              <button type="button" class="btn btn-warning px-3" [routerLink]="['/python']" routerLinkActive="router-link-active"><i class="fab fa-python"
                  aria-hidden="true"  ></i></button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card" [routerLink]="['/android']" routerLinkActive="router-link-active" >
            <div class="card-body">
              <button type="button" class="btn btn-warning px-3" [routerLink]="['/angular']" routerLinkActive="router-link-active"><i class="fab fa-angular"
                  aria-hidden="true"  ></i></button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card" [routerLink]="['/android']" routerLinkActive="router-link-active" >
            <div class="card-body">
              <button type="button" class="btn btn-warning px-3" [routerLink]="['/react']" routerLinkActive="router-link-active"><i class="fab fa-react"
                  aria-hidden="true"  ></i></button>
            </div>
          </div>
        </div>
        <div class="col-md-4 mt-5">
          <div class="card" [routerLink]="['/android']" routerLinkActive="router-link-active" >
            <div class="card-body">
              <button type="button" class="btn btn-warning px-3" [routerLink]="['/iot']" routerLinkActive="router-link-active"><i class="fas fa-network-wired"
                  aria-hidden="true"  ></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>

