<div class="card">
  <div class="container" style="
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 60vh;;
  animation: animate 30s ease-in-out infinite;
  background-size:cover;

@keyframes animate{
  0%, 100% {
    background-image: url('../images/digi.jpg');
  }
  20% {
    background-image: url('../images/kotnil.jpg');
  }
  30% {
    background-image: url('../images/android_2.jpg');
  }
  40% {
    background-image: url('../images/angular.jpg');
  }
  50% {
    background-image: url('../images/java.jpg');
  }
  65% {
    background-image: url('../images/python.jpg');
  }
  85% {
    background-image: url('../images/react.jpg');
  }
}">
  <div class="outer">
    <div class="details">
      <h2>Welcome to DIGI<span style="color: #a00d08;">PODIUM</span></h2>
    </div>
  </div>
</div>
</div>



  <div class="card" >

      <div class="row">
        <div class="col-md-4 mt-5">
          <div class="card">
            <div class="card-body">
              <div>
                <img class="avatar">
                <br><br><br>
                <B> </B>
              </div>

              <h4 class="nt">hbh</h4>
              <p class="text-muted"> ...</p>
            </div>
            <div class="d-grid gap-2 d-md-flex">
              <button type="button" class="btn btn-warning px-3"><i class="fas fa-regular fa-expand"
                  aria-hidden="true"></i></button>
              <button type="button" class="btn btn-warning px-3"><i class="fas fa-paper-plane"
                  aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
      <br>
      <button class="btn btn-danger" [routerLink]="['/app/listrequest']" routerLinkActive="router-link-active">
        View More</button>
    </div>

